<footer>
  <div class="h-card">
  <div>
  <img class="u-photo" src="elmar.jpg" alt="Elmar Jansen">
  </div
  <div>
  <a class="p-name" rel="me" href="https://elmarjansen.nl/">Elmar Jansen</a>
  <br>
  <a href="https://twitter.com/elmarj" rel="me">twitter</a> | 
  <a href="https://www.goodreads.com/user/show/11607541-elmar-jansen" rel="me">goodreads</a> | 
  <a href="https://github.com/ElmarJ" rel="me">github</a> | 
  <a href="https://facebook.com/elmarjansen" rel="me">facebook</a> | 
  <a href="https://www.linkedin.com/in/elmarjansen/" rel="me">linkedin</a>
  <br>
  e-mail: <a href="mailto:elmar@elmarjansen.nl" rel="me">elmar@elmarjansen.nl</a>
  </div>
  </div>
  {{ site.footer }}
</footer>
